{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        {% if SP.ACF.get_field('background_image', 'option') %}
            body {
                background-image: url('{{ SP.ACF.get_field('background_image', 'option').url }}');
            }
        {% endif %}
    </style>
{% endblock %}
{% block header %}
    <header class="user-bar">
        <div class="row column">
            <ul class="horizontal menu">
                {% if SP.WordPress.isLoggedIn() %}
                    <li><a href="{{ my_account }}">My Profile</a></li>
                    <li><a href="{{ SP.WordPress.getLogoutURL() }}">Log Out</a></li>
                {% else %}
                    <li><a href="{{ url }}/register">Register</a></li>
                    <li><a href="{{ login }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </header>
    <header data-sticky-container>
        <div class="top-bar" data-sticky data-top-anchor="150" data-sticky-on="small">
            <div id="large-menu" class="hide-for-small-only">
                <div class="row align-middle large-collapse">
                    <div class="shrink columns">
                        <ul class="dropdown menu" data-dropdown-menu>
                            {% if SP.ACF.get_field('logo', 'option') %}
                                <li><a href="{{ url }}" class="home"><img src="{{ SP.ACF.get_field('logo', 'option').url }}" alt=""></a></li>
                            {% endif %}
                            {% for link in SP.ACF.get_field('menu', 'option') %}
                                <li>
                                    <a href="{% if link.type == "internal" %}{{ link.page }}{% else %}{{ link.url }}{% endif %}" target="{{ link.target }}">
                                        <img src="{{ link.icon.url }}" />
                                        <span>{{ link.text }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="shrink columns">
                        <ul class="social horizontal menu">
                            {% if SP.ACF.get_field('facebook', 'option') %}
                                <li><a href="{{ SP.ACF.get_field('facebook', 'option') }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            {% endif %}
                            {% if SP.ACF.get_field('twitter', 'option') %}
                                <li><a href="{{ SP.ACF.get_field('twitter', 'option') }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            {% endif %}
                            {% if SP.ACF.get_field('instagram', 'option') %}
                                <li><a href="{{ SP.ACF.get_field('instagram', 'option') }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            {% endif %}
                            {% if SP.ACF.get_field('tumblr', 'option') %}
                                <li><a href="{{ SP.ACF.get_field('tumblr', 'option') }}" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                            {% endif %}
                            {% if SP.ACF.get_field('twitch', 'option') %}
                                <li><a href="{{ SP.ACF.get_field('twitch', 'option') }}" target="_blank"><i class="fa fa-twitch"></i></a></li>
                            {% endif %}
                            {% if SP.ACF.get_field('youtube', 'option') %}
                                <li><a href="{{ SP.ACF.get_field('youtube', 'option') }}" target="_blank"><i class="fa fa-youtube"></i></a></li>
                            {% endif %}
                        </ul>
                        <form role="search" method="get" id="searchform" class="searchform" action="{{ SP.WordPress.url( '/' ) }}">
                            <input type="hidden" name="post_type" value="videos" />
                            <div class="input-group">
                                <input class="input-group-field" type="text" name="s" placeholder="Search Videos">
                                <div class="input-group-button">
                                    <button type="submit" class="secondary button"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="small-menu-bar" data-responsive-toggle="small-menu" data-hide-for="medium">
                <a class="" data-toggle><i class="fa fa-bars"></i></a>

                {% if SP.ACF.get_field('logo', 'option') %}
                    <a href="{{ url }}" class="home"><img src="{{ SP.ACF.get_field('mobile_logo', 'option').url }}" alt=""></a>
                {% endif %}
            </div>
            <div class="small-menu hide-for-medium" id="small-menu">
                <div class="">
                    <ul class="vertical menu">
                        {% for link in SP.ACF.get_field('menu', 'option') %}
                            <li>
                                <a href="{% if link.type == "internal" %}{{ link.page }}{% else %}{{ link.url }}{% endif %}" target="{{ link.target }}">
                                    <i class="fa {{ link.icon }}"></i>
                                    {{ link.text }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="spacer"></div>
{% endblock %}
{% block content %}
    <div class="row small-collapse">
        <div class="small-12 columns main-content">
            {% if panels is defined and panels %}
                {% for panel in panels %}
                    {{ panel | raw }}
                {% endfor %}
            {% else %}
                <article class="one-column">
                    <h1>{{ SP.WordPress.title() }}</h1>
                    {{ SP.WordPress.content() }}
                </article>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% if SP.ACF.get_field('footer_content', 'option') %}
        <div class="row small-collapse">
            <div class="small-12 columns">
                <footer class="footer">
                    {{ SP.ACF.get_field('footer_content', 'option') }}
                </footer>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script data-cfasync="false" type="text/javascript" src="//filamentapp.s3.amazonaws.com/8f395c05dd52d31c7420a3d2f929d0ab.js" async="async"></script>
    {{ parent() }}
{% endblock %}