{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        {% if SP.ACF.get_field('background_image', 'option') %}
            body {
                background-image: url('{{ SP.ACF.get_field('background_image', 'option').url }}');
            }
        {% endif %}
    </style>
{% endblock %}
{% block header %}
    <header class="user-bar">
        <div class="row column">
            <ul class="horizontal menu">
                {% if SP.WordPress.isLoggedIn() %}
                    <li><a href="{{ SP.WordPress.getLogoutURL() }}">Log Out</a></li>
                {% else %}
                    <li><a href="{{ SP.WordPress.getLoginURL() }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </header>
    <header data-sticky-container>
        <div class="top-bar" data-sticky data-top-anchor="150">
            <div id="large-menu" class="hide-for-small-only">
                <div class="row align-middle">
                    <div class="shrink columns">
                        {% if SP.ACF.get_field('logo', 'option') %}
                            <a href="{{ url }}" class="home"><img src="{{ SP.ACF.get_field('logo', 'option').url }}" alt=""></a>
                        {% endif %}
                    </div>
                    <div class="columns">
                        <ul class="dropdown menu" data-dropdown-menu>
                            <li>
                                <a href="{{ url }}/forums">
                                    <i class="fa fa-users"></i>
                                    <span>Forums</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://shop.maker.tv/collections/aphmau" target="blank">
                                    <i class="fa fa-shopping-bag"></i>
                                    <span>Shop</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url }}/videos">
                                    <i class="fa fa-play"></i>
                                    <span>Videos</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="shrink columns">
                        <ul class="social horizontal menu">
                            {% if SP.ACF.get_field('facebook', 'option') %}
                                <li><a href="{{ SP.ACF.get_field('facebook', 'option') }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            {% endif %}
                            {% if SP.ACF.get_field('twitter', 'option') %}
                                <li><a href="{{ SP.ACF.get_field('twitter', 'option') }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            {% endif %}
                            {% if SP.ACF.get_field('instagram', 'option') %}
                                <li><a href="{{ SP.ACF.get_field('instagram', 'option') }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            {% endif %}
                            {% if SP.ACF.get_field('tumblr', 'option') %}
                                <li><a href="{{ SP.ACF.get_field('tumblr', 'option') }}" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                            {% endif %}
                            {% if SP.ACF.get_field('twitch', 'option') %}
                                <li><a href="{{ SP.ACF.get_field('twitch', 'option') }}" target="_blank"><i class="fa fa-twitch"></i></a></li>
                            {% endif %}
                            {% if SP.ACF.get_field('youtube', 'option') %}
                                <li><a href="{{ SP.ACF.get_field('youtube', 'option') }}" target="_blank"><i class="fa fa-youtube"></i></a></li>
                            {% endif %}
                        </ul>
                        <div class="input-group">
                            <input class="input-group-field" type="text">
                            <div class="input-group-button">
                                <button type="submit" class="secondary button"><i class="fa fa-search"></i> Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="small-menu-bar" data-responsive-toggle="small-menu" data-hide-for="medium">
                <a class="" data-toggle><i class="fa fa-bars"></i></a>
            </div>
            <div class="small-menu" id="small-menu">
                <div class="hide-for-medium">
                    {{
                        SP.WordPRess.menu({
                            'container': false,
                            'theme_location': "primary_menu",
                            'items_wrap': '<ul id="%1$s" class="%2$s" data-accordion-menu>%3$s</ul>',
                            'walker': walkers.accordion,
                            'menu_id': '',
                            'menu_class': 'vertical menu'
                        })
                    }}
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
    <div class="row column">
        {% if panels is defined and panels %}
            {% for panel in panels %}
                {{ panel | raw }}
            {% endfor %}
        {% else %}
            <article class="one-column">
                <h1>{{ SP.WordPress.title() }}</h1>
                {{ SP.WordPress.content() }}
            </article>
        {% endif %}
    </div>
{% endblock %}
{% block footer %}
    {% if SP.ACF.get_field('footer_content', 'option') %}

        <div class="row column">
            <footer class="footer">
                {{ SP.ACF.get_field('footer_content', 'option') }}
            </footer>
        </div>
    {% endif %}
{% endblock %}
{% block scripts %}
    <script data-cfasync="false" type="text/javascript" src="//filamentapp.s3.amazonaws.com/8f395c05dd52d31c7420a3d2f929d0ab.js" async="async"></script>
    {{ parent() }}
{% endblock %}